.create-event
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  color: #8b98ac
  font-size: .8em
  font-weight: 400
  letter-spacing: 0.42px
  background-color: inherit
  transition: background-color .5s
  &:hover
    background-color: $primary
    color: #fff

