.title
  /* color: #3a3f49 */
  font-size: 1.5em
  font-weight: 700
  line-height: 1.5em
  /* margin-bottom: 25px */
  &--h2
    color: inherit
    font-size: 2.25em
    font-weight: 700
    line-height: 1.1
    margin-bottom: 20px
  